.all {
  background-color: #fff;
}
.all .search {
  margin-top: 10px;
}
.all .search .inputSearch form {
  position: relative;
  margin: 0 10px;
}
.all .search .inputSearch form input[type="text"] {
  height: 30px;
  color: #888;
  font-size: 14px;
  border: 1px solid #006699;
}
.all .search .inputSearch form input[type="button"] {
  position: absolute;
  top: 0;
  right: -1px;
  border: 1px solid #006699;
  width: 56px;
  height: 31px;
  border-radius: 0;
  background-color: #006699;
  font-size: 14px;
  color: #fff;
}
.all .trajectory {
  width: 100%;
  color: #888;
  font-size: 12px;
  overflow: hidden;
}
.all .trajectory .history {
  margin-left: 10px;
  float: left;
}
.all .trajectory .empty {
  margin-right: 10px;
  font-size: 12px;
  float: right;
}
.all .links {
  margin-top: 30px;
}
